In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey, BigInteger
from sqlalchemy_utils import database_exists, create_database
from config import user, password, host, database
import pandas as pd
import numpy as np

In [2]:
from sqlalchemy import create_engine
db_string = f"mysql+pymysql://{user}:{password}@{host}:3306/{database}"
engine = create_engine(db_string)
Base = declarative_base()

Database model using SQLAlchemy

In [3]:
class Continent(Base):
    __tablename__ = 'continents'
    id_continent = Column(Integer, primary_key=True)
    continent = Column(String(50))

class Country(Base):
    __tablename__ = 'countries'
    id_country = Column(Integer, primary_key=True)
    country = Column(String(50))
    id_continent = Column(Integer, ForeignKey('continents.id_continent'))

class Population(Base):
    __tablename__ = 'live_population'
    id_data = Column(Integer, primary_key=True)
    measurement = Column(BigInteger)
    date_measurement = Column(Date)
    id_country = Column(Integer, ForeignKey('countries.id_country'))

class Year(Base):
    __tablename__ = 'years'
    id_year = Column(Integer, primary_key=True)
    year = Column(Integer)

class Age(Base):
    __tablename__ = 'ages'
    id_age = Column(Integer, primary_key=True)
    age = Column(Integer)

class Death(Base):
    __tablename__ = 'deaths'
    id_data = Column(Integer, primary_key=True)
    measurement = Column(BigInteger)
    sex = Column(String(10))
    id_year = Column(Integer, ForeignKey('years.id_year'))
    id_country = Column(Integer, ForeignKey('countries.id_country'))
    id_age = Column(Integer, ForeignKey('ages.id_age'))

class Birth(Base):
    __tablename__ = 'births'
    id_data = Column(Integer, primary_key=True)
    measurement = Column(BigInteger)
    id_year = Column(Integer, ForeignKey('years.id_year'))
    id_country = Column(Integer, ForeignKey('countries.id_country'))
    id_mother_age = Column(Integer, ForeignKey('ages.id_age'))

class Marriage(Base):
    __tablename__ = 'marriages'
    id_data = Column(Integer, primary_key=True)
    measurement = Column(BigInteger)
    id_year = Column(Integer, ForeignKey('years.id_year'))
    id_age = Column(Integer, ForeignKey('ages.id_age'))
    id_country = Column(Integer, ForeignKey('countries.id_country'))

Connection to the database

In [5]:
if not database_exists(engine.url):
    create_database(engine.url)
else:
    engine.connect()
    Base.metadata.create_all(engine)

Load data from CSV into DataFrame

In [6]:
birth_death_df = pd.read_csv('data-finally/birth_death.csv')
married_df = pd.read_csv('data-finally/married.csv')
country_to_continent_df = pd.read_csv('data-finally/countryContinent.csv', encoding = 'ISO-8859-1')

Add the `kontynent` column to the data in married_df and birth_death_df

In [34]:
for df in [married_df, birth_death_df]:
    df["kontynent"] = [country_to_continent_df[country_to_continent_df["country"] == country]["continent"].values[0] if country in country_to_continent_df["country"].unique() else None for country in df["kraj"]]

Add data to the continents table

In [35]:
continents = pd.DataFrame(married_df["kontynent"].unique(), columns=['continent'])
continents.index.name = 'id_continent'
continents.to_sql('continents', engine, if_exists = "append")

In [66]:
continents

             continent
id_continent
0                 Asia
1             Americas
2               Africa
3               Europe

Add data to the countries table

In [36]:
countries = pd.DataFrame(married_df["kraj"].unique(), columns=['country'])
countries.index.name = 'id_country'
countries["id_continent"] = [continents[continents["continent"] == married_df[married_df["kraj"] == country]["kontynent"].values[0]].index.values[0] for country in married_df["kraj"].unique()]
countries.to_sql('countries', engine, if_exists = "append")

In [63]:
countries

                               country  id_continent
id_country
0                           Bangladesh             0
1                               Brazil             1
2                                China             0
3               Dem. Rep. of the Congo             2
4                             Ethiopia             2
5                              Germany             3
6                                India             0
7                            Indonesia             0
8           Iran (Islamic Republic of)             0
9                                Japan             0
10                              Mexico             1
11                             Nigeria             2
12                            Pakistan             0
13                         Philippines             0
14                  Russian Federation             3
15                            Viet Nam             0
16                            Thailand             0
17                              Turkey             0
18                               Egypt             2
19            United States of America             1

Add data to the years table

In [37]:
years_birth_death = pd.DataFrame(married_df["rok"].unique(), columns=['year'])
years_married = pd.DataFrame(birth_death_df["rok"].unique(), columns=['year'])
years = pd.concat([years_birth_death, years_married]).drop_duplicates().reset_index(drop=True)
years.index.name = 'id_year'
years.to_sql('years', engine, if_exists = "append")

In [23]:
years.head()

         year
id_year
0        1970
1        1971
2        1972
3        1973
4        1974

Add data to the ages table

In [38]:
age_married = pd.DataFrame(married_df["wiek"].unique() , columns=['age']).astype(str)
ages_birth_death  = pd.DataFrame(birth_death_df["wiek"].unique() , columns=['age']).astype(str)
ages = pd.concat([age_married, ages_birth_death]).drop_duplicates().reset_index(drop=True)
ages.index.name = 'id_age'
ages.to_sql('ages', engine, if_exists = "append")

In [20]:
ages.head()

       age
id_age
0       15
1       16
2       17
3       18
4       19

Add data to the births table

In [39]:
births_df = birth_death_df[birth_death_df["Indykator"] == "Births by age of mother (1-year)"]
births_df.head()

,kraj,rok,płeć,wiek,Indykator,wartość,kontynent
0,Bangladesh,1950,Both sexes,15,Births by age of mother (1-year),49740.0,Asia
1,Bangladesh,1950,Both sexes,16,Births by age of mother (1-year),77560.0,Asia
2,Bangladesh,1950,Both sexes,17,Births by age of mother (1-year),98709.0,Asia
3,Bangladesh,1950,Both sexes,18,Births by age of mother (1-year),110663.0,Asia
4,Bangladesh,1950,Both sexes,19,Births by age of mother (1-year),112789.0,Asia

In [ ]:
new_rows = []
for _, row in births_df.iterrows():
    id_country = countries[countries["country"] == row["kraj"]].index[0]
    id_year = years[years["year"] == row["rok"]].index[0]
    id_mother_age = ages[ages["age"] == row["wiek"]].index[0]
    measurment = row["wartość"]
    new_rows.append({
        "measurement": measurment,
        "id_year": id_year,
        "id_country": id_country,
        "id_mother_age": id_mother_age
    })

births = pd.concat([pd.DataFrame(new_rows)], ignore_index=True)

In [57]:
births.head()

         measurement  id_year  id_country  id_mother_age
id_data
0            49740.0       55           0              0
1            77560.0       55           0              1
2            98709.0       55           0              2
3           110663.0       55           0              3
4           112789.0       55           0              4

In [56]:
births.index.name = 'id_data'
births.to_sql('births', engine, if_exists = "append")

52500

Add data to the deaths table

In [58]:
death_df = birth_death_df[birth_death_df["Indykator"] == "Deaths by 1-year age groups and sex"]
death_df.head()

,kraj,rok,płeć,wiek,Indykator,wartość,kontynent
52500,Bangladesh,1950,Male,0,Deaths by 1-year age groups and sex,208502.0,Asia
52501,Bangladesh,1950,Female,0,Deaths by 1-year age groups and sex,191179.0,Asia
52502,Bangladesh,1950,Both sexes,0,Deaths by 1-year age groups and sex,399681.0,Asia
52503,Bangladesh,1950,Male,1,Deaths by 1-year age groups and sex,54845.0,Asia
52504,Bangladesh,1950,Female,1,Deaths by 1-year age groups and sex,45039.0,Asia

In [63]:
new_rows_deaths = []
for _, row in death_df.iterrows():
    id_country = countries[countries["country"] == row["kraj"]].index[0]
    id_year = years[years["year"] == row["rok"]].index[0]
    id_age = ages[ages["age"] == row["wiek"]].index[0]
    measurment = row["wartość"]
    sex = row["płeć"]

    new_rows_deaths.append({
        "measurement": measurment,
        "sex": sex,
        "id_year": id_year,
        "id_country": id_country,
        "id_age": id_age
    })

deaths = pd.concat([pd.DataFrame(new_rows_deaths)], ignore_index=True)

In [65]:
deaths.head()

   measurement         sex  id_year  id_country  id_age
0     208502.0        Male       55           0      35
1     191179.0      Female       55           0      35
2     399681.0  Both sexes       55           0      35
3      54845.0        Male       55           0      36
4      45039.0      Female       55           0      36

In [66]:
deaths.index.name = 'id_data'
deaths.to_sql('deaths', engine, if_exists = "append")

454500

Add data to the marriage table

In [67]:
married_df.head()

,kraj,rok,płeć,wiek,IndicatorName,wartość,kontynent
0,Bangladesh,1970,Female,15,Currently married by age of woman (Number),446515.2,Asia
1,Bangladesh,1970,Female,16,Currently married by age of woman (Number),446515.2,Asia
2,Bangladesh,1970,Female,17,Currently married by age of woman (Number),446515.2,Asia
3,Bangladesh,1970,Female,18,Currently married by age of woman (Number),446515.2,Asia
4,Bangladesh,1970,Female,19,Currently married by age of woman (Number),446515.2,Asia

In [80]:
new_rows_marriages = []
for _, row in married_df.iterrows():
    id_country = countries[countries["country"] == row["kraj"]].index[0]
    id_year = years[years["year"] == row["rok"]].index[0]
    id_age = ages[ages["age"] == str(row["wiek"])].index[0]
    measurment = row["wartość"]

    new_rows_marriages.append({
        "measurement": measurment,
        "id_year": id_year,
        "id_age": id_age,
        "id_country": id_country

    })

marriages = pd.concat([pd.DataFrame(new_rows_marriages)], ignore_index=True)

In [81]:
marriages.head()

   measurement  id_year  id_age  id_country
0     446515.2        0       0           0
1     446515.2        0       1           0
2     446515.2        0       2           0
3     446515.2        0       3           0
4     446515.2        0       4           0

In [84]:
marriages.index.name = 'id_data'
marriages.to_sql('marriages', engine, if_exists = "append")

38500

# Population live- web scraping

In [ ]:
from sqlalchemy.orm import sessionmaker
from datetime import datetime
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

countries = [
    "India", "China", "United States of America", "Indonesia", "Pakistan", "Nigeria",
    "Brazil", "Bangladesh", "Russian Federation", "Mexico", "Ethiopia", "Japan",
    "Philippines", "Egypt", "Dem. Rep. of the Congo", "Viet Nam", "Iran (Islamic Republic of)", "Turkey",
    "Germany", "Thailand"
]

country_url_map = {
    "India": "india",
    "China": "china",
    "United States of America": "us",
    "Indonesia": "indonesia",
    "Pakistan": "pakistan",
    "Nigeria": "nigeria",
    "Brazil": "brazil",
    "Bangladesh": "bangladesh",
    "Russian Federation": "russia",
    "Mexico": "mexico",
    "Ethiopia": "ethiopia",
    "Japan": "japan",
    "Philippines": "philippines",
    "Egypt": "egypt",
    "Dem. Rep. of the Congo": "democratic-republic-of-the-congo",
    "Viet Nam": "vietnam",
    "Iran (Islamic Republic of)": "iran",
    "Turkey": "turkey",
    "Germany": "germany",
    "Thailand": "thailand"
}
Session = sessionmaker(bind=engine)
session = Session()

id_data = 2966
country_id_map = {country.country: country.id_country for country in session.query(Country).all()}


chrome_options = Options()
chrome_options.add_argument("--headless")

driver = webdriver.Chrome(options=chrome_options)

def get_population(country):
    url_country = country_url_map[country]
    url = f'https://www.worldometers.info/world-population/{url_country}-population/'
    driver.get(url)
    time.sleep(2)
    wait = WebDriverWait(driver, 10)
    try:
        population_element = wait.until(EC.presence_of_element_located(
            (By.CSS_SELECTOR, '#maincounter-wrap > div > span')
        ))
        population_str = population_element.text.replace(',', '')
        population = int(population_str)
    except Exception as e:
        print(f"Could not get population data for {country}: {e}")
        population = None
    return population

try:
    while True:
        total_records = session.query(Population).count()
        if id_data > 9999:
            id_data = 0
            
        for country in countries:
            population = get_population(country)
            if population:
                country_id = country_id_map[country]
                if total_records >= 9999:
                    oldest_record = session.query(Population).order_by(Population.id_data).first()
                    oldest_record.measurement = int(population)
                    oldest_record.date_measurement = datetime.now().date()
                    oldest_record.id_country = country_id
                    session.commit()
                else:
                    new_measurement = Population(
                        id_data = id_data,
                        measurement=int(population),
                        date_measurement=datetime.now().date(), 
                        id_country=country_id
                    )
                    id_data += 1
                    session.add(new_measurement)
                    session.commit()
                    total_records += 1
                    print(f"Inserted data for {country}: {population}")
        time.sleep(30)  
except KeyboardInterrupt:
    pass
finally:
    driver.quit()
    session.close()

Inserted data for India: 1441636407
Inserted data for China: 1425181908
Inserted data for United States of America: 341802855
Inserted data for Indonesia: 279783627
Inserted data for Pakistan: 245179551
Inserted data for Nigeria: 229117890
Inserted data for Brazil: 217629568
Inserted data for Bangladesh: 174690073
Inserted data for Russian Federation: 143960165
Inserted data for Mexico: 129382528
Inserted data for Ethiopia: 129699214
Inserted data for Japan: 122635627
Inserted data for Philippines: 119094919
Inserted data for Egypt: 114472952
Inserted data for Dem. Rep. of the Congo: 105603441
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805726
Inserted data for Turkey: 86257592
Inserted data for Germany: 83252741
Inserted data for Thailand: 71885263
Inserted data for India: 1441636448
Inserted data for China: 1425181907
Inserted data for United States of America: 341802861
Inserted data for Indonesia: 279783634
Inserted data for Pakistan: 245179566
Inserted data for Nigeria: 229117907
Inserted data for Brazil: 217629572
Inserted data for Bangladesh: 174690079
Inserted data for Russian Federation: 143960163
Inserted data for Mexico: 129382531
Inserted data for Ethiopia: 129699224
Inserted data for Japan: 122635625
Inserted data for Philippines: 119094925
Inserted data for Egypt: 114472957
Inserted data for Dem. Rep. of the Congo: 105603451
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805728
Inserted data for Turkey: 86257594
Inserted data for Germany: 83252741
Inserted data for Thailand: 71885263
Inserted data for India: 1441636490
Inserted data for China: 1425181905
Inserted data for United States of America: 341802867
Inserted data for Indonesia: 279783641
Inserted data for Pakistan: 245179582
Inserted data for Nigeria: 229117925
Inserted data for Brazil: 217629576
Inserted data for Bangladesh: 174690084
Inserted data for Russian Federation: 143960162
Inserted data for Mexico: 129382534
Inserted data for Ethiopia: 129699234
Inserted data for Japan: 122635623
Inserted data for Philippines: 119094931
Inserted data for Egypt: 114472963
Inserted data for Dem. Rep. of the Congo: 105603462
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805730
Inserted data for Turkey: 86257595
Inserted data for Germany: 83252741
Inserted data for Thailand: 71885263
Inserted data for India: 1441636532
Inserted data for China: 1425181903
Inserted data for United States of America: 341802872
Inserted data for Indonesia: 279783648
Inserted data for Pakistan: 245179596
Inserted data for Nigeria: 229117941
Inserted data for Brazil: 217629580
Inserted data for Bangladesh: 174690090
Inserted data for Russian Federation: 143960160
Inserted data for Mexico: 129382536
Inserted data for Ethiopia: 129699244
Inserted data for Japan: 122635621
Inserted data for Philippines: 119094936
Inserted data for Egypt: 114472968
Inserted data for Dem. Rep. of the Congo: 105603473
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805732
Inserted data for Turkey: 86257596
Inserted data for Germany: 83252741
Inserted data for Thailand: 71885263
Inserted data for India: 1441636572
Inserted data for China: 1425181902
Inserted data for United States of America: 341802878
Inserted data for Indonesia: 279783655
Inserted data for Pakistan: 245179611
Inserted data for Nigeria: 229117958
Inserted data for Brazil: 217629584
Inserted data for Bangladesh: 174690095
Inserted data for Russian Federation: 143960159
Inserted data for Mexico: 129382539
Inserted data for Ethiopia: 129699254
Inserted data for Japan: 122635619
Inserted data for Philippines: 119094942
Inserted data for Egypt: 114472974
Inserted data for Dem. Rep. of the Congo: 105603484
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805734
Inserted data for Turkey: 86257598
Inserted data for Germany: 83252741
Inserted data for Thailand: 71885264
Inserted data for India: 1441636615
Inserted data for China: 1425181900
Inserted data for United States of America: 341802884
Inserted data for Indonesia: 279783663
Inserted data for Pakistan: 245179627
Inserted data for Nigeria: 229117976
Inserted data for Brazil: 217629588
Inserted data for Bangladesh: 174690101
Inserted data for Russian Federation: 143960157
Inserted data for Mexico: 129382542
Inserted data for Ethiopia: 129699265
Inserted data for Japan: 122635617
Inserted data for Philippines: 119094947
Inserted data for Egypt: 114472980
Inserted data for Dem. Rep. of the Congo: 105603494
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805736
Inserted data for Turkey: 86257599
Inserted data for Germany: 83252741
Inserted data for Thailand: 71885264
Inserted data for India: 1441636655
Inserted data for China: 1425181899
Inserted data for United States of America: 341802889
Inserted data for Indonesia: 279783669
Inserted data for Pakistan: 245179641
Inserted data for Nigeria: 229117992
Inserted data for Brazil: 217629591
Inserted data for Bangladesh: 174690106
Inserted data for Russian Federation: 143960156
Inserted data for Mexico: 129382545
Inserted data for Ethiopia: 129699274
Inserted data for Japan: 122635615
Inserted data for Philippines: 119094953
Inserted data for Egypt: 114472985
Inserted data for Dem. Rep. of the Congo: 105603505
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805738
Inserted data for Turkey: 86257601
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885264
Inserted data for India: 1441636695
Inserted data for China: 1425181897
Inserted data for United States of America: 341802895
Inserted data for Indonesia: 279783676
Inserted data for Pakistan: 245179656
Inserted data for Nigeria: 229118009
Inserted data for Brazil: 217629595
Inserted data for Bangladesh: 174690112
Inserted data for Russian Federation: 143960154
Inserted data for Mexico: 129382548
Inserted data for Ethiopia: 129699284
Inserted data for Japan: 122635613
Inserted data for Philippines: 119094958
Inserted data for Egypt: 114472991
Inserted data for Dem. Rep. of the Congo: 105603515
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805740
Inserted data for Turkey: 86257602
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885265
Inserted data for India: 1441636737
Inserted data for China: 1425181896
Inserted data for United States of America: 341802901
Inserted data for Indonesia: 279783684
Inserted data for Pakistan: 245179671
Inserted data for Nigeria: 229118026
Inserted data for Brazil: 217629599
Inserted data for Bangladesh: 174690117
Inserted data for Russian Federation: 143960153
Inserted data for Mexico: 129382551
Inserted data for Ethiopia: 129699295
Inserted data for Japan: 122635610
Inserted data for Philippines: 119094964
Inserted data for Egypt: 114472996
Inserted data for Dem. Rep. of the Congo: 105603526
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805742
Inserted data for Turkey: 86257603
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885265
Inserted data for India: 1441636778
Inserted data for China: 1425181894
Inserted data for United States of America: 341802906
Inserted data for Indonesia: 279783691
Inserted data for Pakistan: 245179686
Inserted data for Nigeria: 229118043
Inserted data for Brazil: 217629603
Inserted data for Bangladesh: 174690123
Inserted data for Russian Federation: 143960151
Inserted data for Mexico: 129382554
Inserted data for Ethiopia: 129699305
Inserted data for Japan: 122635608
Inserted data for Philippines: 119094969
Inserted data for Egypt: 114473002
Inserted data for Dem. Rep. of the Congo: 105603537
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805744
Inserted data for Turkey: 86257605
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885265
Inserted data for India: 1441636819
Inserted data for China: 1425181893
Inserted data for United States of America: 341802912
Inserted data for Indonesia: 279783698
Inserted data for Pakistan: 245179701
Inserted data for Nigeria: 229118060
Inserted data for Brazil: 217629606
Inserted data for Bangladesh: 174690128
Inserted data for Russian Federation: 143960150
Inserted data for Mexico: 129382557
Inserted data for Ethiopia: 129699315
Inserted data for Japan: 122635606
Inserted data for Philippines: 119094975
Inserted data for Egypt: 114473007
Inserted data for Dem. Rep. of the Congo: 105603547
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805746
Inserted data for Turkey: 86257606
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885265
Inserted data for India: 1441636859
Inserted data for China: 1425181891
Inserted data for United States of America: 341802918
Inserted data for Indonesia: 279783705
Inserted data for Pakistan: 245179715
Inserted data for Nigeria: 229118076
Inserted data for Brazil: 217629610
Inserted data for Bangladesh: 174690134
Inserted data for Russian Federation: 143960148
Inserted data for Mexico: 129382560
Inserted data for Ethiopia: 129699325
Inserted data for Japan: 122635604
Inserted data for Philippines: 119094981
Inserted data for Egypt: 114473013
Inserted data for Dem. Rep. of the Congo: 105603558
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805748
Inserted data for Turkey: 86257607
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885266
Inserted data for India: 1441636900
Inserted data for China: 1425181890
Inserted data for United States of America: 341802923
Inserted data for Indonesia: 279783712
Inserted data for Pakistan: 245179730
Inserted data for Nigeria: 229118093
Inserted data for Brazil: 217629614
Inserted data for Bangladesh: 174690139
Inserted data for Russian Federation: 143960147
Inserted data for Mexico: 129382563
Inserted data for Ethiopia: 129699335
Inserted data for Japan: 122635602
Inserted data for Philippines: 119094986
Inserted data for Egypt: 114473019
Inserted data for Dem. Rep. of the Congo: 105603569
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805750
Inserted data for Turkey: 86257609
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885266
Inserted data for India: 1441636942
Inserted data for China: 1425181888
Inserted data for United States of America: 341802929
Inserted data for Indonesia: 279783719
Inserted data for Pakistan: 245179745
Inserted data for Nigeria: 229118110
Inserted data for Brazil: 217629618
Inserted data for Bangladesh: 174690145
Inserted data for Russian Federation: 143960145
Inserted data for Mexico: 129382566
Inserted data for Ethiopia: 129699345
Inserted data for Japan: 122635600
Inserted data for Philippines: 119094992
Inserted data for Egypt: 114473024
Inserted data for Dem. Rep. of the Congo: 105603579
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805752
Inserted data for Turkey: 86257610
Inserted data for Germany: 83252740
Inserted data for Thailand: 71885266
Inserted data for India: 1441636982
Inserted data for China: 1425181887
Inserted data for United States of America: 341802935
Inserted data for Indonesia: 279783726
Inserted data for Pakistan: 245179760
Inserted data for Nigeria: 229118127
Inserted data for Brazil: 217629622
Inserted data for Bangladesh: 174690150
Inserted data for Russian Federation: 143960144
Inserted data for Mexico: 129382569
Inserted data for Ethiopia: 129699355
Inserted data for Japan: 122635598
Inserted data for Philippines: 119094997
Inserted data for Egypt: 114473030
Inserted data for Dem. Rep. of the Congo: 105603590
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805754
Inserted data for Turkey: 86257612
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885266
Inserted data for India: 1441637023
Inserted data for China: 1425181885
Inserted data for United States of America: 341802940
Inserted data for Indonesia: 279783733
Inserted data for Pakistan: 245179775
Inserted data for Nigeria: 229118143
Inserted data for Brazil: 217629625
Inserted data for Bangladesh: 174690155
Inserted data for Russian Federation: 143960142
Inserted data for Mexico: 129382571
Inserted data for Ethiopia: 129699365
Inserted data for Japan: 122635596
Inserted data for Philippines: 119095003
Inserted data for Egypt: 114473035
Inserted data for Dem. Rep. of the Congo: 105603600
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805756
Inserted data for Turkey: 86257613
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885267
Inserted data for India: 1441637063
Inserted data for China: 1425181884
Inserted data for United States of America: 341802946
Inserted data for Indonesia: 279783740
Inserted data for Pakistan: 245179789
Inserted data for Nigeria: 229118160
Inserted data for Brazil: 217629629
Inserted data for Bangladesh: 174690161
Inserted data for Russian Federation: 143960141
Inserted data for Mexico: 129382574
Inserted data for Ethiopia: 129699374
Inserted data for Japan: 122635594
Inserted data for Philippines: 119095008
Inserted data for Egypt: 114473040
Inserted data for Dem. Rep. of the Congo: 105603610
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805758
Inserted data for Turkey: 86257614
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885267
Inserted data for India: 1441637102
Inserted data for China: 1425181882
Inserted data for United States of America: 341802951
Inserted data for Indonesia: 279783747
Inserted data for Pakistan: 245179803
Inserted data for Nigeria: 229118176
Inserted data for Brazil: 217629633
Inserted data for Bangladesh: 174690166
Inserted data for Russian Federation: 143960139
Inserted data for Mexico: 129382577
Inserted data for Ethiopia: 129699384
Inserted data for Japan: 122635592
Inserted data for Philippines: 119095013
Inserted data for Egypt: 114473046
Inserted data for Dem. Rep. of the Congo: 105603621
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805760
Inserted data for Turkey: 86257616
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885267
Inserted data for India: 1441637141
Inserted data for China: 1425181881
Inserted data for United States of America: 341802957
Inserted data for Indonesia: 279783753
Inserted data for Pakistan: 245179817
Inserted data for Nigeria: 229118192
Inserted data for Brazil: 217629636
Inserted data for Bangladesh: 174690171
Inserted data for Russian Federation: 143960138
Inserted data for Mexico: 129382580
Inserted data for Ethiopia: 129699394
Inserted data for Japan: 122635590
Inserted data for Philippines: 119095019
Inserted data for Egypt: 114473051
Inserted data for Dem. Rep. of the Congo: 105603631
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805762
Inserted data for Turkey: 86257617
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885267
Inserted data for India: 1441637180
Inserted data for China: 1425181879
Inserted data for United States of America: 341802962
Inserted data for Indonesia: 279783760
Inserted data for Pakistan: 245179832
Inserted data for Nigeria: 229118208
Inserted data for Brazil: 217629640
Inserted data for Bangladesh: 174690176
Inserted data for Russian Federation: 143960136
Inserted data for Mexico: 129382583
Inserted data for Ethiopia: 129699403
Inserted data for Japan: 122635588
Inserted data for Philippines: 119095024
Inserted data for Egypt: 114473056
Inserted data for Dem. Rep. of the Congo: 105603641
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805763
Inserted data for Turkey: 86257618
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885268
Inserted data for India: 1441637220
Inserted data for China: 1425181878
Inserted data for United States of America: 341802968
Inserted data for Indonesia: 279783767
Inserted data for Pakistan: 245179846
Inserted data for Nigeria: 229118224
Inserted data for Brazil: 217629643
Inserted data for Bangladesh: 174690182
Inserted data for Russian Federation: 143960135
Inserted data for Mexico: 129382585
Inserted data for Ethiopia: 129699413
Inserted data for Japan: 122635586
Inserted data for Philippines: 119095029
Inserted data for Egypt: 114473062
Inserted data for Dem. Rep. of the Congo: 105603651
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805765
Inserted data for Turkey: 86257620
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885268
Inserted data for India: 1441637259
Inserted data for China: 1425181876
Inserted data for United States of America: 341802973
Inserted data for Indonesia: 279783774
Inserted data for Pakistan: 245179860
Inserted data for Nigeria: 229118241
Inserted data for Brazil: 217629647
Inserted data for Bangladesh: 174690187
Inserted data for Russian Federation: 143960133
Inserted data for Mexico: 129382588
Inserted data for Ethiopia: 129699423
Inserted data for Japan: 122635584
Inserted data for Philippines: 119095035
Inserted data for Egypt: 114473067
Inserted data for Dem. Rep. of the Congo: 105603662
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805767
Inserted data for Turkey: 86257621
Inserted data for Germany: 83252739
Inserted data for Thailand: 71885268
Inserted data for India: 1441637299
Inserted data for China: 1425181875
Inserted data for United States of America: 341802979
Inserted data for Indonesia: 279783781
Inserted data for Pakistan: 245179875
Inserted data for Nigeria: 229118257
Inserted data for Brazil: 217629651
Inserted data for Bangladesh: 174690192
Inserted data for Russian Federation: 143960132
Inserted data for Mexico: 129382591
Inserted data for Ethiopia: 129699432
Inserted data for Japan: 122635582
Inserted data for Philippines: 119095040
Inserted data for Egypt: 114473072
Inserted data for Dem. Rep. of the Congo: 105603672
Could not get population data for Viet Nam: invalid literal for int() with base 10: 'retrieving data...'
Inserted data for Iran (Islamic Republic of): 89805769
Inserted data for Turkey: 86257622
Inserted data for Germany: 83252738
Inserted data for Thailand: 71885268